// primary colors
// background
$black: hsl(0, 17%, 2%);
// dots 
$red: hsl(0, 75%, 46%);
$desaturated-red: rgba(205, 29, 29, 0.4);
// text
$white: hsl(0, 0%, 100%);

// measurement
$panel-height: 80px;
$panel-width: 100%;

// mixins
@mixin slideTo(
   $direction: 'top',
   $delay: 0s,
   ) {
   animation: $direction .5s $delay ease-in forwards;

   @keyframes #{$direction} {
      // set value which depends from direction that slide should go
      $value: '';
      @if $direction == 'top' {
         $value: -100%;
      }
      @else if $direction == 'bottom' {
         $value: 100%;
      }

      from {
         transform: translateY(0);
         opacity: 1;
      }
      to {
         transform: translateY($value);
         opacity: 0;
      }
   }
}

@mixin box-active {
      transform: scale(1.2);
      position: relative;
      @media (max-width:1200px) {
         transform: scale(1.1);
      }
      .map-box__date {
         transform: translateY(-150px) scale(.5);
      }

      img {
         filter: blur(0px) sepia(30%) grayscale(90%);
      }
}


// animations
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes slideTop {
   from {
      opacity: 0;
      transform: translateY(100%);
   }
   to {
      opacity: 1;
      transform: translateY(0%);
   }
}

@keyframes pulse {
   0% {
      transform: scale(.80);
      box-shadow: 0 0 0 0 $desaturated-red;
   }
   50% {
      transform: scale(1);
      box-shadow: 0 0 0 10px $desaturated-red;
   }
   100% {
      transform: scale(.80);
      box-shadow: 0 0 0 0 $desaturated-red;
   }
}