// primary colors
// background
$black: hsl(0, 17%, 2%);

// text
$white: hsl(0, 10%, 82%);

// measurement
$panel-height: 80px;
$panel-width: 100%;

// mixins
@mixin slideTo(
   $direction: 'top',
   $delay: 0s,
   ) {
   animation: $direction .5s $delay ease-in forwards;

   @keyframes #{$direction} {
      // set value which depends from direction that slide should go
      $value: '';
      @if $direction == 'top' {
         $value: -100%;
      }
      @else if $direction == 'bottom' {
         $value: 100%;
      }

      from {
         transform: translateY(0);
         opacity: 1;
      }
      to {
         transform: translateY($value);
         opacity: 0;
      }
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}