// primary colors
// background
$black: hsl(0, 17%, 2%);

// text
$white: hsl(0, 10%, 82%);

// mixins
@mixin slideTo($direction) {
   animation: $direction .5s ease-in forwards;

   @keyframes #{$direction} {
      // set value which depends from direction that slide should go
      $value: '';
      @if $direction == 'top' {
         $value: -100%;
      }
      @else {
         $value: 100%;
      }
      from {
         transform: translateY(0);
         opacity: 1;
      }
      to {
         transform: translateY($value);
         opacity: 0;
      }
   }

}