.zoomed-map {
   transform-origin: top;
   width: 100%;
   height: auto;
   position: relative;
   transform: scale(0);
   top: -50px;
   left: 0;
   z-index: 1;
   transition: transform .5s ease-in;
   img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      filter: grayscale(90%) sepia(30%);
   }

   &--active {
      transform-origin:top;
      width: 100%;
      transform: scaleY(1);
      
      @media (min-width: 540px) {
         transform: scaleY(.9);
      }
      @media (min-width: 720px) {
         transform: scaleY(.7);
      }
      @media (min-width: 960px) {
         transform: scaleY(.5);
      }
      @media (min-width: 1140px) {
         transform: scaleY(.4);
      }
   }
}
.dot {
   position: absolute;
   animation: pulse 2s infinite;
   background-color: $red;
   width: 20px;
   height: 20px;
   border-radius: 100%;
   border: 2px solid $white;
   cursor: pointer;
   box-shadow: 0 0 0 0 $desaturated-red;

   &--1 {
      // Władyswałowo   
      top: 7vw;
      left: 10vw;
   }
   &--2 {
      // Puck
      top: 32vw;
      left: 10vw;
   }

   &--3 {
      // Chałupy
      top: 19vw;
      left: 35vw;
   }

   &--4 {
      // Jastarnia
      top: 38vw;
      left: 60vw;
   }
   
   &--5 {
      // Rewa
      top: 64vw;
      left: 30vw;
   }

   &--6 {
      // Hel
      top: 70vw;
      left: 90vw;
   }
}  
